- @army.units.build #this will cause a blank unit to be added
- @army.units.last.unit_options.build
- form_for(@army) do |f|
	= render "shared/error_messages", :target => @army
	.field
		= f.label :name
		%br
		~ f.text_field :name
	.field
		= f.label :faction
		%br
		~ f.text_field :faction
	.field
		= f.label :point_total
		%br
		~ f.number_field :point_total, :size => 8
	.field
		= f.label :description
		%br
		~ f.text_area :description, {:rows => 5}
	
	%h2 Units
	- f.fields_for :units do |builder|
		= render :partial => 'unit_fields', :locals => {:f => builder}

	%br
	.add
		= link_to_add_fields "Add Unit", f, :units
	%br
	.actions
		= f.submit