- @army.units.build #this will cause a blank unit to be added
- @army.units.each {|unit| unit.unit_options.build} # and each unit should have a blank option ready for editing
- form_for(@army) do |f|
	= render "shared/error_messages", :target => @army
	.field
		= f.label :name
		%br
		~ f.text_field :name, :required => true
	.field
		= f.label :faction
		%br
		~ f.text_field :faction
	.field
		= f.label :point_total
		%br
		~ f.number_field :point_total, :size => 8
	.field
		= f.label :description
		%br
		~ f.text_area :description, {:rows => 5}
	
	%h2 Units
	#units
		- f.fields_for :units do |builder|
			= render :partial => 'unit_fields', :locals => {:f => builder}

	.add
		= link_to_add_fields "Add Unit", f, :units
	.actions
		= f.submit
		
:javascript
	function unit_sum(field)
	{
		var unit = $(field).parents(".unit");
		var options = unit.find(".unit_option_points:visible");
		var sum = 0
		options.each(function(index,element) {
			try {
				sum += parseFloat(element.value);
			} catch (e) { console.log("Couldn't parse " + element.value)}
		})
		console.log(sum);
		unit.find(".unit_point_total").text(sum);
	}
	
	$(document).ready(function() {
		
	});
