- @army.units.build #this will cause a blank unit to be added
- @army.units.each {|unit| unit.unit_options.build} # and each unit should have a blank option ready for editing
- form_for(@army) do |f|
	= render "shared/error_messages", :target => @army
	.field
		= f.label :name
		%br
		~ f.text_field :name, :required => true
	.field
		= f.label :faction
		%br
		~ f.text_field :faction
	.field
		= f.label :point_total
		%br
		~ f.number_field :point_total, :size => 8
	.field
		= f.label :description
		%br
		~ f.text_area :description, {:rows => 5}
	
	%h2 Units
	#units
		- f.fields_for :units do |builder|
			= render :partial => 'unit_fields', :locals => {:f => builder}

	.add
		= link_to_add_fields "Add Unit", f, :units
	.actions
		= f.submit
		
:javascript
	function unit_sum()
	{
		
		console.log(this.value);
	}
	
	$(document).ready(function() {
		$("input.unit_option_points").blur(unit_sum);
	});
