#units.fields
	.remove
		= link_to_remove_fields "Remove Unit", f
	.field.no_br
		= f.label :slot
		%br/
		= f.text_field :slot, :size => 10
	.field.no_br
		= f.label :name
		%br/
		~ f.text_field :name
	.field
		.unit_point_total
			0
	- f.fields_for :unit_options do |builder|
		= render :partial => 'unit_options_fields', :locals => {:f => builder}