%h1= h @army.name
%p= h @army.point_total
%p= h @army.description

%h2 Units
= render :partial => 'units/unit', :collection => @army.units

= link_to "Delete Army", army_url(@army), :method => :delete
= link_to "Edit Army", edit_army_url(@army)
