!!!
%html
	%head
		%meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
		= csrf_meta_tag
		= stylesheet_link_tag 'style.css'
		= javascript_include_tag :defaults
		= yield :head
		
		%title Tabletop Calculator
			
	%body
		#container
			#header
				#logo Tabletop Calculator
				#menu
					%ul
						%li= link_to "New Army", new_army_path
		
			#main
				#sidebar
					Sidebar text.
		
				#text
					- flash.each do |name, msg|
						%div{:class => name}= msg
				
					= yield
		
			#footer
				#left_footer &copy; 2010 Siamesehead
				#right_footer 
					design by
					%a{ :href => "http://www.realitysoftware.ca", :title => "Website Design"} Reality Software
			